body {
  background-color: #011e29;
  color: #FFF;
  font-family: "Public Sans", sans-serif;
}

a{
    color: #FFF;
}

.venues{
  margin-bottom: 20px;
}

.venues-title{
  margin-left:10px;
}

.add-venue-form{
  width: 300px;
  margin: 10px;
}

.add-venue-form label {
  display : block;
  margin-bottom: 5px;
  font-size: 14px;
}

.add-venue-form input{
  display : block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.add-venue-form button{
  padding: 10px 40px;
  margin-top: 5px;
  font-size: 14px;
  background: #029742;
  color: #fff;
  border: none;
}

.add-venue-form button:hover{
  opacity: 0.8;
  cursor: pointer;
}